img {
    width: 20%;
}

body {
    font-family: 'Merienda', cursive;
}

#scroll {
    width: 50%;
    float: left;
}

.imgContainer {
    position: relative;
}

#pContainer {
    position: absolute;
    top: 40%;
    left: 41%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}