.background-image {
    background-image: url(../images/pexels-photo-952670.jpeg);
}

img {
    width: 12%;
}

.gem-click:hover {
    opacity: 0.85;
    cursor: pointer;
}

body {
    font-family: 'Merienda', cursive;
    color: gold;
    text-shadow: 0 0 13px red;
}

#scroll {
    width: 100%;
}

.imgContainer {
    position: relative;
}
