.background-image {
    background-image: url(../images/pexels-photo-952670.jpeg);
}

img {
    width: 11%;
}

body {
    font-family: 'Merienda', cursive;
}

#scroll {
    width: 100%;
}

.imgContainer {
    position: relative;
}
